.grid {
  background-color: yellow;
  width: 200px;
  height: 400px;
  /* Flex box makes the red squares appear stacked in a line and then stack over each other as soon as they don't fit in the grid div parameter */
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  background-color: red;
  height: 20px;
  width: 20px;
}
